<nav class="sidebar">
    <div class="logo">
        <h1>Secret Shop</h1>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item {% if request.resolver_match.app_name == 'dashboard' %}active{% endif %}">
            <a class="nav-link" href="{% url 'dashboard:index' %}">
                Dashboard
            </a>
        </li>
        <li class="nav-item {% if request.resolver_match.app_name == 'targets' %}active{% endif %}">
            <a class="nav-link" href="{% url 'targets:index' %}">
                Targets
            </a>
        </li>
        <li class="nav-item {% if request.resolver_match.app_name == 'shops' %}active{% endif %}">
            <a class="nav-link" href="{% url 'shops:index' %}">
                Shops
            </a>
        </li>
        <li class="nav-item {% if request.resolver_match.app_name == 'reports' %}active{% endif %}">
            <a class="nav-link" href="{% url 'reports:index' %}">
                Reports
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">
                Logout
            </a>
        </li>
    </ul>
</nav>
